@model ML_personalizacion.Models.ML_personas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ML_personas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ML_nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ML_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ML_apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ML_apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ML_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ML_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ML_telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ML_telefono)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ML_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
