@model IEnumerable<ML_personalizacion.Models.ML_personas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ML_nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ML_apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ML_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ML_telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ML_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ML_apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ML_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ML_telefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ML_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ML_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ML_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
